<footer class="page-footer bg-secondary text-white pt-4">
  <div class="container-fluid text-center" >
    <a class="text-white" href="/">Created with Node.js</a>
  </div>

  <div class="footer-copyright text-center">2018
    <a class="text-white" href="/">Ben Bracamonte</a>
  </div>
</footer>