<nav class="navbar bg-secondary">
  <a class="navbar-brand text-white" href="#">Movie Search Engine</a>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link text-white" href="#login">login</a>
    </li>
    <li>
      <a class="nav-link text-white" href="#sign-up">sign up</a>
    </li>
  </ul>
</nav>