<main role="main" class="container">
    <div class="row justify-content-center">
      <div class="mt-3 w-75">

        <div class="mb-5 text-center">
          <h1>Movie Search Engine</h1>
        </div >

        <div id="search-bar">
          <form id="search-form" methdo="GET" action="/search">
            <div class="form-group row">
              <div class="col">
                <input
                  id="search-input"
                  type="text"
                  class="form-control"
                  name="searchInput"
                  placeholder="Search for a Movie...">
              </div>
              <div class="col-2">
                <button id="search-button" type="submit" class="btn btn-primary">Search</button>
                <div id="loading-icon" class="loader d-none"></div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div id="search-results" class="row justify-content-center">
        <ul class="list-group col-9 mb-4">
          <% if (results) { %>
            <% results.forEach(function(result) {%>
              <li class="list-group-item">
                <div class="row search-results">
                  <%- result.image %>
                  <p class="col my-auto"><%- result.name %></p>
                  <p class="my-auto"><%- result.date %></p>
                </div>
              </li>
            <%})%>
          <% } else { %>

          <% } %>
        </ul>
    </div>
  <script type="text/javascript" src="/script.js"></script>
</main>
