<div class="container h-100">
  <div class="row justify-content-center">
    <div class="mt-3 w-75">

      <div class="mb-5 text-center">
        <h1>Movie Search Engine</h1>
      </div >

      <form action="/search">
        <div class="form-group row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              id="searchInput"
              placeholder="Search for a Movie...">
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>