<script type="text/javascript" src="/script.js"></script>
<main role="main" class="container">
  <div class="row justify-content-center">
    <div class="mt-3 w-75">
      <div class="mb-5 text-center">
        <h1>Movie Search Engine</h1>
      </div >

        <div id="search-bar">
          <form id="search-form" methdo="GET" action="/search">
            <div class="form-group row">
              <div class="col">
                <input
                  id="search-input"
                  type="text"
                  class="form-control"
                  name="searchInput"
                  placeholder="Search for a Movie...">
              </div>
              <div class="col-2">
                <button id="search-button" type="submit" class="btn btn-primary">Search</button>
                <div id="loading-icon" class="loader d-none"></div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div id="search-results" class="row justify-content-center">
      <ul class="list-group col-9 mb-4" id="results">

      </ul>
    </div>
    <div class="container text-center mb-4">
      <a href="/history">Search History</a>
    </div>
</main>
