<main role="main" class="container">
    <div class="row justify-content-center">
      <div class="mt-3 w-75">

        <div class="mb-5 text-center">
          <h1>Movie Search Engine</h1>
        </div >

        <div id="search-bar">
          <form methdo="GET" action="/search">
            <div class="form-group row">
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  name="search-input"
                  placeholder="Search for a Movie...">
              </div>
              <div class="col-2">
                <button id="search-button" type="submit" class="btn btn-primary">Search</button>
                <div id="loading-icon" class="loader d-none"></div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div id="search-results" class="row justify-content-center">
        <ul class="list-group col-9 mb-4">
          <% if (results) { %>
            <h2><%- results.name %></h2>
            <h3><%- results.job %></h3>
          <% } else { %>
            <h1>not found</h1>
          <% } %>

          <!-- <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li>

          <li class="list-group-item">
            <div class="row">
              <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_UX32_CR0,0,32,44_AL_.jpg">
              <p class="col my-auto">The Matrix</p>
              <p class="my-auto">(1999)</p>
            </div>
          </li> -->
        </ul>
    </div>
  <script type="text/javascript" src="/script.js"></script>
</main>
