<div class="col container h-100">
  <div class="row align-items-center">
    <div class="col-6 mt-5 mx-auto">

      <div class="text-center">
        <h1>Movie Search Engine</h1>
      </div>

      <form action="/test">
        <div class="row mt-5">
          <div class="col">
            <input
            type="search"
            class="row form-control"
            id="searchInput"
            placeholder="Search for a Movie......">

          </div>
          <button type="submit" class="col-3 btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>