.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: spin 2s linear infinite;
}

main{
  display: block;
  overflow: auto;
  min-height: calc(100vh - 120px) !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
