.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: spin 2s linear infinite;
}

#search-results li {

  animation: FadeIn 1s linear;
  animation-fill-mode: both;
}

#search-results li:nth-child(1) { animation-delay: .3s }
#search-results li:nth-child(2) { animation-delay: .6s }
#search-results li:nth-child(3) { animation-delay: .9s }
#search-results li:nth-child(4) { animation-delay: 1.2s }
#search-results li:nth-child(5) { animation-delay: 1.5s }
#search-results li:nth-child(6) { animation-delay: 1.8s }
#search-results li:nth-child(7) { animation-delay: 2.1s }
#search-results li:nth-child(8) { animation-delay: 2.4s }
#search-results li:nth-child(9) { animation-delay: 2.7s }
#search-results li:nth-child(10) { animation-delay: 3s }


main{
  display: block;
  overflow: auto;
  min-height: calc(100vh - 120px) !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes FadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: none;
  }
}

